<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- footer section starts -->
<section class="footer" th:fragment="footer">

  <div class="box-container">

    <!-- About -->
    <div class="box">
      <h3>Dheeraj's Portfolio</h3>
      <p>Thank you for visiting my personal portfolio website. 
      Connect with me over socials. 🚀 <br><br> Let’s build something awesome together!</p>
    </div>

    <!-- Quick Links -->
    <div class="box">
      <h3>Quick Links</h3>
      <a href="#home"><i class="fas fa-chevron-circle-right"></i> Home</a>
      <a href="#about"><i class="fas fa-chevron-circle-right"></i> About</a>
      <a href="#skills"><i class="fas fa-chevron-circle-right"></i> Resume</a>
      <a href="#education"><i class="fas fa-chevron-circle-right"></i> Projects</a>
    </div>

    <!-- Contact Info -->
    <div class="box">
      <h3>Contact Info</h3>
      <p><i class="fas fa-envelope"></i> <a href="https://mail.google.com/mail/?view=cm&to=dheeraj1453@gmail.com">dheeraj1453@gmail.com</a></p>
      <p><i class="fas fa-map-marked-alt"></i> Bangalore, Karnataka</p>
      <div class="share">
        <a href="https://github.com/Dheeraj1453" class="fab fa-github" target="_blank"></a>
        <a href="https://www.linkedin.com/in/dheeraj-kumar-jha-828ba433a/" class="fab fa-linkedin" target="_blank"></a>
        <a href="https://mail.google.com/mail/?view=cm&to=dheeraj1453@gmail.com" class="fas fa-envelope" target="_blank"></a>
        <a href="https://www.instagram.com/dheeraj_08kr/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i>
</a>
      </div>
    </div>

  </div>


<div class="footer-credit-wrapper">
  <hr class="footer-divider">
  <h1 class="credit-animated">
    <span class="divider"></span>
    <span class="text">Developed by <span class="icon"><i class="fas fa-code"></i></span> Dheeraj Kumar Jha</span>
  </h1>
</div>

</section>
<!-- footer section ends -->

    
</body>
</html>