<section class="resume-section" id="resume" th:fragment="resume">
    <div class="resume-container">
        
        <div class="resume-card fade-in-up">
            <div class="card-content">
                <h2 class="heading">My <span>Resume</span></h2>
                <p class="resume-text">
                    Explore a detailed summary of my Skills, Projects, Experience, and Educational background in my Resume.
                </p>
            </div>

            <div class="card-actions">
                <a href="assets/images/Resume.pdf" target="_blank" class="btn-resume view-btn">
                    <i class="fas fa-eye"></i> View Resume
                </a>
                
                <a href="assets/images/Resume.pdf" download="Dheeraj_Resume.pdf" class="btn-resume download-btn">
                    <i class="fas fa-file-download"></i> Download Resume
                </a>
            </div>
        </div>

    </div>
</section>